.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;

    .modal-container_canvas {
        background-color: black;
        position: fixed;
        width: 100vw;
        height: 100vh;
        opacity: 0.2;
        z-index: 1001;
    }

    .modal-container_wrapper {
        text-align: center;
        z-index: 1002;
        width: 800px;
        color: black;

        .modal-title {
            text-transform: uppercase;
        }

        .modal-content {
            .form-control-label {
                float: left;
                text-transform: uppercase;
            }
            //min-height: 450px;
        }
    }
}